.spinner-2 {
   width: 46px;
   aspect-ratio: 1;
   animation: s2 0.8s infinite linear;
   @apply border-[6px] border-solid border-slate-200 border-r-blue-400 rounded-[50%];
}
@keyframes s2 {
   to {
      transform: rotate(1turn);
   }
}
