@layer components {
   .input {
      @apply text-main bg-white p-1 border border-solid border-gray-800 rounded-sm border-opacity-30 w-full disabled:pointer-events-none disabled:opacity-40;
   }

   .button {
      @apply bg-blue-400 px-4 py-2 text-white rounded-sm uppercase font-medium hover:bg-blue-500 transition-colors disabled:opacity-50 disabled:pointer-events-none;
   }
}
